<html>
    <head>
        <title> Assessment video</title>
    </head>
    <body>
         <div class="container">
             <h1>Take a look at this videos</h1>
             <div class="row">
                 <div class="col">
                     <div class="small-img-row">
                         <div class="small-img">
                             <img src="/assets/img1/image2.jpg" class="thumb" onclick="playVideo('img1/rain.mp4')">
                             </div>
                             <p>Video 1 - Description</p>
                         </div>
                     <div class="small-img-row">
                         <div class="small-img">
                             <img src="/assets/img1/image2.jpg" class="thumb">
                             <img src="/assets/img1/play.png" class="play-btn" onclick="playVideo('img1/rain.mp4')">
                             </div>
                             <p>Video 2 - Description</p>
                         </div>
                     <div class="small-img-row">
                         <div class="small-img">
                             <img src="/assets/img1/image2.jpg" class="thumb">
                             <img src="/assets/img1/play.png" class="play-btn" onclick="playVideo('img1/rain.mp4')">
                             </div>
                             <p>Video 3 - Description</p>
                         </div>
                     </div>
                 </div>
        </div>
        <div class="video-player" id="videoPlayer">
        <video width="100%" controls autoplay id="video">
            <source src="/assets/img1/rain.mp4" type="video/mp4">
            </video>
            <img class="close-btn" onclick="stopVideo()">
        </div>

        <div id="status" class="incomplete">
<span>Play status: </span>
<span class="status complete">COMPLETE</span>
<span class="status incomplete">INCOMPLETE</span>
<div class="butn">
  <button class= "btn" onclick="window.location.href='/page2'">Take Assessment</button>
<br/>
</div>
</div>
    <script src="/assets/video.js"></script>
    </body>
</html>
