<html>
    <head>
        <title> Assessment video</title>
        <link rel = "stylesheet" href="videoplayer.component.css">
    </head>
    <body>
         <div class="container">
             <h1>Take a look at this videos</h1>
             <div class="row">
                 <div class="col">
                     <div class="feature-img">
                         <img src="img/image1.jpg" width="100%">
                         <img src="img/play.png" class="play-btn" onclick="playVideo('img/rain.mp4')">
                     </div>
                     <div>
                        <span id="played">0</span> seconds out of 
                        <span id="duration"></span> seconds.
                        </div>
                 </div>
                 <div class="col">
                     <div class="small-img-row">
                         <div class="small-img">
                             <img src="img/image2.jpg">
                             <img src="img/play.png" class="play-btn" onclick="playVideo('img/rain.mp4')">
                             </div>
                             <p>Video 1 - Description</p>
                             <div>
                                <span id="played">0</span> seconds out of 
                                <span id="duration"></span> seconds.
                                </div>
                         </div>
                     <div class="small-img-row">
                         <div class="small-img">
                             <img src="img/image2.jpg">
                             <img src="img/play.png" class="play-btn" onclick="playVideo('img/rain.mp4')">
                             </div>
                             <p>Video 2 - Description</p>
                         </div>
                     <div class="small-img-row">
                         <div class="small-img">
                             <img src="img/image2.jpg">
                             <img src="img/play.png" class="play-btn" onclick="playVideo('img/rain.mp4')">
                             </div>
                             <p>Video 3 - Description</p>
                         </div>
                     </div>
                 </div>
        </div>
        <div class="video-player" id="videoPlayer">
        <video width="100%" controls autoplay id="video">
            <source src="img/rain.mp4" type="video/mp4">
            </video>
            <img src="img/close.png" class="close-btn" onclick="stopVideo()">
        </div>
        
        <div id="status" class="incomplete">
<span>Play status: </span>
<span class="status complete">COMPLETE</span>
<span class="status incomplete">INCOMPLETE</span>
<br/>
</div>

<div class=".center">
<button class= "btn" onclick="window.location.href='/page2'">Take Assessment</button>
</div>

        

        <script src="video.js"></script>
    </body>
</html>