body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('/assets/sky.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.main {
  width: 25%;
  padding-top: 2%;
  padding-left: 35%;
}

.sign {
  text-align: center;
  padding-top: 40px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
width: 76%;
color:white;
font-weight: 700;
font-size: 16px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: 3px white solid;
border-radius: 20px;
outline: none;
box-sizing: border-box;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
width: 76%;
color: white(38, 50, 56);
font-weight: 700;
font-size: 16px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 3px white solid;
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  background-color: transparent;
  border: 2px solid white;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.submitdiv{
  text-align: center;
}

.forgot {
  text-align: center;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  padding-top: 15px;
}

a {
  text-align: center;
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: white;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
      border-radius: 0px;
  }
}

.un:hover{
  border-color:black;
}

.submit:hover{
  border-color:white;
  background-color: black;
}
