<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign in</title>
</head>

<body >
  <div class="main">
    <p class="sign">Test</p>
    <p class="question">Would you like to begin a test?</p>
  <div class="options">
    <input type="radio" id="option-one" name="option" class="radio" value="optionA" />
    <label id="option1"></label>
    <br>
    <input type="radio" id="option-two" name="option" class="radio" value="optionA" />
    <label id="option2">
    </label>
    <br>
    <input type="radio" id="option-three" name="option" class="radio" value="optionA" />
    <label id="option3">
    </label>
    <br>
    <input type="radio" id="option-four" name="option" class="radio" value="optionA" />
    <label id="option4">
    </label>
    <br>
  </div>
    <button (click) = "startTest()" class="submit" id="start">Start</button>
    <button (click) = "showQuestion()" class="submit" id="next">Next</button>
    <button (click) = "submit()" class="submit" id="submit">Submit</button>
    </div>
</body>
</html>
